<form class="example-form" [formGroup]="counterForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Set counter" type="number" formControlName="val">
  </mat-form-field>
  <button mat-stroked-button type="submit">setting</button>
  <br>
</form>

<button mat-stroked-button (click)=increment()>increment</button>
<button mat-stroked-button (click)=decrement()>decrement</button>
<button mat-stroked-button (click)=reset()>reset</button>
<div>counter: {{count$ | async}}</div>

